In [3]:

# Block for data processing and column distribution

import numpy as np
import pandas as pd

dataframe = pd.read_csv("C:\\Users\\Shashank\\Desktop\\project\\ml-20m\\movies.csv")


#dataframe.head()
new = dataframe['title'].str.split('(',n=1,expand=True)
dataframe['movies_name'] = new[0]
dataframe['release_date'] = new[1]

new = dataframe['genres'].str.split('|',n=4,expand=True)
dataframe['type1']=new[0]
dataframe['type2']=new[1]
dataframe['type3']=new[2]
dataframe['type4']=new[3]
dataframe['type5']=new[4]

dataframe.drop(['title','genres'],axis=1)
dataframe.replace(to_replace=[None],value='z',inplace=True)

x = dataframe.iloc[:,4:-1].values
y = dataframe.iloc[:,3].values


dataframe.describe()

             movieId
count   27278.000000
mean    59855.480570
std     44429.314697
min         1.000000
25%      6931.250000
50%     68068.000000
75%    100293.250000
max    131262.000000

In [4]:
# Block for label encoding the data

from sklearn.preprocessing import LabelEncoder

for i in range(1,5):
    encoder = LabelEncoder()
    x[:,i]=encoder.fit_transform(x[:,i])

y = encoder.fit_transform(y)

In [5]:
#print(x)

In [14]:
# Block for mering three csv files

category_movies = pd.read_csv("C:\\Users\\Shashank\\Desktop\\project\\ml-20m\\genome-tags.csv")
movie_id = pd.read_csv("C:\\Users\\Shashank\\Desktop\\project\\ml-20m\\links.csv")
category_movies.columns
movie_id.columns
dataframe['ID'] = movie_id['imdbId']
dataframe[dataframe.genres != "(no genres listed)"]

z = dataframe.iloc[:,-1].values

In [15]:
# final view of data

import matplotlib.pyplot as plt
import seaborn as sns

#print(new.head())
dataframe.head()
print(x[:,:])
print(y)
print(z)

[['1995)' 2 1 1 1]
 ['1995)' 2 2 6 16]
 ['1995)' 5 13 17 16]
 ...
 ['2014)' 2 18 17 16]
 ['2001)' 0 18 17 16]
 ['2014)' 2 7 8 16]]
[23410 12102  9644 ... 22627 18608 11437]
[ 114709  113497  113228 ... 3485166  249110 1724965]